/* VARIABLES */

:root {
    --hue: 216;
    --main-color: hsla(var(--hue), 100%, 60%, 1);
    --main-color-fadded: hsla(var(--hue), 31%, 72%, 1);
    --main-color-hover: hsla(var(--hue), 100%, 66%, 1);
    --light-color: hsla(var(--hue), 100%, 94%, 1);
    --light-color-fadded: hsla(var(--hue), 22%, 38%, 0.1);
    --overlay-color: hsla(217, 62%, 4%, 0.8);
    --highlight-color: hsla(350, 79%, 58%, 1);
    --highlight-color-hover: hsla(350, 79%, 64%, 1);
    --background-color: hsla(216, 100%, 99%, 1);
    --icons-details: hsla(216, 31%, 72%, 1);

    --text-color: hsla(237, 71%, 18%, 1);
    --text-color2: hsla(0, 0%, 98%, 1);
    --text-color3: hsla(var(--hue), 100%, 60%, 1);
    --text-color-fadded: hsla(216, 31%, 72%, 1);

    --font-title: 'Poppins', sans-serif;
    --font-common: 'Open Sans', sans-serif;
}

/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
    font: inherit;
    cursor: pointer;
}

textarea {
    background-color: transparent;
}

/* GENERAL */

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
}

body,
button,
input,
textarea {
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: var(--font-common);
}

h2 {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: var(--font-title);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    top: -1px;
    left: -1px;
    overflow: hidden;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.btn {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn > * {
    margin: 0.5rem;
}


.btn_colorful {
    color: var(--background-color);
    background-color: var(--main-color);
}

.btn_colorful:hover {
    background-color: var(--main-color-hover);
}

.btn_white {
    color: var(--main-color);
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
}

.btn_white:hover {
    color: var(--main-color-hover);
    border: 2px solid var(--main-color-hover);
}

.btn_warning {
    color: var(--background-color);
    background-color: var(--highlight-color);
}

.btn_warning:hover {
    background-color: var(--highlight-color-hover);
}

.btn_fadded {
    color: var(--text-color1);
    background-color: var(--light-color-fadded);
}

.btn_warning:hover {
}

.input-area {
    display: flex;
    width: 100%;
    padding: 1.5rem 1.6rem;
    font-size: 1.6rem;
    align-items: center;
    justify-content: left;
    border: 2px solid;
    border-radius: 0.8rem;
    border-color: var(--icons-details);
    color: var(--text-color-fadded);
}

.input-area:active {
    border-color: var(--main-color);
    color: var(--text-color);
}

.divider {
    display: flex;
    text-align: center;
    font-size: 1.6rem;
    color: var(--icons-details);
    align-items: center;
}

.divider::before,
.divider::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    margin: 0 1rem;
    background-color: var(--icons-details);
}
