/* HOME */

.container {
    width: 90%;
    margin: 0 auto;
}

/* HEADER */

#header {
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header .room-code {
    display: inline-flex;
    width: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

#header .room-create {
    display: inline-flex;
    width: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.sign-in input::-webkit-outer-spin-button,
.sign-in input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sign-in input[type=number] {
    -moz-appearance: textfield;
}

/* INPUT */

#input .form {
    position: relative;
    border: 2px solid var(--icons-details);
    border-radius: 0.8rem;
}

#input>h2 {
    margin-bottom: 2.4rem;
}

#input .input-area {
    border: none;
    outline: none;
    resize: none;

    color: var(--text-color);

    height: 6.5rem;
}

#input .input-area::placeholder {
    color: var(--icons-details);
}

#input .footer {
    display: flex;
    justify-content: space-between;
}

#input .info {
    margin-top: 2.5rem;
    margin-left: 1.6rem;
    color: var(--icons-details);
}

#input .btn-enviar {
    width: 9.8rem;
    border: none;
    margin-top: 1rem;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
}

/* CARDS */

#cards {
    margin: 1.6rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#cards .card {
    padding: 2.4rem;
    border-radius: 0.8rem;
    border-top-left-radius: 0;
}

#cards .question {
    margin-bottom: 0.8rem;
    display: flex;
}

#cards .question .avatar {
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
    line-height: 5.2rem;
    margin-right: 1.6rem;
    border-radius: 50%;
    font-size: 2.4rem;
    color: var(--background-color);
    text-align: center;
    flex-shrink: 0;
}

#cards .question .avatar img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
}

#cards .question p {
    min-width: 5.2rem;
    word-break: break-all;
    width: 100%;
}

#cards .card.card_unread {
    background-color: var(--light-color);
}

#cards .card.card_unread .question .avatar {
    background-color: var(--main-color);
}

#cards .card.card_read {
    background-color: var(--light-color-fadded);
}

#cards .card.card_read .question .avatar {
    background-color: var(--main-color-fadded);
}

#cards .card.card_read .trash {
    display: none;
}

#cards .card.card_read .unread {
    display: none;
}

#cards .card.card_read {
    background-color: var(--light-color-fadded);
}

#cards .actions {
    display: flex;
    margin: 0 2.4rem;
    gap: 2.4rem;
    font-size: 1.6rem;
    justify-content: end;
}

#cards .actions i {
    font-size: 2.4rem;
}

#cards .icon-check {
    color: var(--main-color);
}

#cards .icon-trash {
    color: var(--highlight-color);
}
